<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.arapplication">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".webview_L3"></activity>
        <activity android:name=".webview_L2" />
        <activity android:name=".webview_L1" />
        <activity android:name=".webview_b3" />
        <activity android:name=".webview_b2" />
        <activity android:name=".webview_b1" />
        <activity android:name=".webview_m3" />
        <activity android:name=".webview_m2" />
        <activity android:name=".webview_m1" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginAcitivity" />
        <activity android:name=".Ligaments" />
        <activity android:name=".Bones" />
        <activity android:name=".MenuApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity android:name=".Muscle" />
    </application>

</manifest>